body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: rickFont;
    src: url(./Rick_and_Morty/Rick_Morty_fonts/get_schwifty.ttf);
}

* {
    font-family: rickFont;
    color: deepskyblue;
}

header {
    width: 100%;
    height: 36%;
    background-color: black;
}

.title {
    width: 100%;
    font-size: 11vh;
    text-align: center;
    margin-bottom: 1%;
}

.statsContainer {
    width: 100%;
    height: 45%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.statsContainer > div {
    flex: 1 0 auto;
    margin: 0 1%;
    width: 2%;
}

.logo {
    background-image: url(./Rick_and_Morty/title.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.games-played, .attempts, .accuracy, .reset {
    border: 3px solid white;
    text-align: center;
    font-size: 4vh;
    padding-top: 1%;
}

.game-area {
    width: 100%;
    height: 64%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.card {
    width: 15%;
    position: relative;
    flex: 1 0 auto;
    margin: 7px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.back {
    background-image: url(./Rick_and_Morty/portal.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.newGameContainer {
    height: 100%;
    width: 70%;
    margin: auto;
}

.newGame {
    font-size: 14vh;
    margin-top: 6%;
    text-align: center;
}

.newGameButton {
    border: 6px solid #63ee23;
    font-size: 10vh;
    margin: auto;
    height: 26%;
    text-align: center;
    width: 16%;
}


/*------------------------------------ Media Queries --------------------------------------*/

/* #### Mobile Phones Portrait #### */
@media screen 
and (max-device-width: 480px) 
and (orientation: portrait) {
    header {
        height: 36%;
    }

    .title {
        font-size: 6vh;
    }

    .statsContainer {
        height: 29%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2vh;
    }

    .game-area {
        height: 64%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame {
        font-size: 8vh;
    }

    .newGameButton {
        font-size: 8vh;
        height: 20%;
        width: 60%;
    }
}

/* #### Mobile Phones Portrait #### */
@media screen 
and (max-device-width: 640px)
and (orientation: portrait) {
    header {
        height: 36%;
    }

    .title {
        font-size: 6vh;
    }

    .statsContainer {
        height: 29%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2vh;
    }

    .game-area {
        height: 64%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame {
        font-size: 8vh;
    }

    .newGameButton {
        font-size: 8vh;
        height: 20%;
        width: 60%;
    }
}

/* #### Mobile Phones Landscape #### */
@media screen 
and (min-device-width: 640px)
and (max-device-height: 360px) 
and (orientation: landscape) {
    header {
        height: 45%;
    }

    .title {
        font-size: 14vh;
    }

    .statsContainer {
        height: 45%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 5vh;
    }

    .game-area {
        height: 55%;
    }
    
    .card {
        width: 15%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 12vh;
        height: 36%;
        width: 30%;
    }
}

/* #### iPhone 4+ Portrait #### */
@media screen 
and (min-device-width: 320px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    header {
        height: 33%;
    }

    .title {
        font-size: 7vh;
    }

    .statsContainer {
        height: 32%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2vh;
    }

    .game-area {
        height: 67%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame {
        font-size: 10vh;
    }

    .newGameButton {
        font-size: 7vh;
        height: 18%;
        width: 61%;
    } 
}

/* #### iPhone 5 Landscape #### */
@media (device-height: 320px) 
and (device-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header {
        height: 45%;
    }

    .title {
        font-size: 14vh;
    }

    .statsContainer {
        height: 45%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 5vh;
    }

    .game-area {
        height: 55%;
    }
    
    .card {
        width: 15%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 12vh;
        height: 36%;
        width: 30%;
    }
}

/* #### iPhone 6 and 6 plus Landscape #### */
@media (min-device-height: 375px) 
and (min-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header {
        height: 45%;
    }

    .title {
        font-size: 14vh;
    }

    .statsContainer {
        height: 45%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 5vh;
    }

    .game-area {
        height: 55%;
    }
    
    .card {
        width: 15%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 12vh;
        height: 36%;
        width: 30%;
    }
}

/* #### Desktops #### */
@media screen 
and (min-width: 1024px) 
and (max-width: 1600px) { 
    header {
        height: 36%;
    }

    .title {
        font-size: 11vh;
    }

    .statsContainer {
        height: 45%;
    }

    .statsContainer > div {
        width: 2%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 4vh;
    }

    .game-area {
        height: 64%;
    }
    
    .card {
        width: 15%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 9vh;
        height: 26%;
        width: 30%;
    }
}

/* #### Tablets Portrait #### */
@media only screen 
and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    header {
        height: 16%;
    }

    .title {
        font-size: 5vh;
    }

    .statsContainer {
        height: 46%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2vh;
    }

    .game-area {
        height: 84%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 9vh;
        height: 18%;
        width: 50%;
    }
}

/* #### Tablets Landscape #### */
@media only screen 
and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape),
only screen and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
    header {
        height: 55%;
    }

    .title {
        font-size: 13vh;
    }

    .statsContainer {
        height: 29%;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 4vh;
    }

    .game-area {
        height: 45%;
    }
    
    .card {
        width: 15%;
    }

    .newGame {
        font-size: 12vh;
    }

    .newGameButton {
        font-size: 7vh;
        height: 26%;
        width: 30%;
    }
}