body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 0;
}

@font-face {
    font-family: rickFont;
    src: url(./Rick_and_Morty/Rick_Morty_fonts/get_schwifty.ttf);
}

body > * {
    font-family: rickFont;
    color: deepskyblue;
    font-size: 1rem;
}

header {
    width: 100%;
    height: 36%;
    background-color: black;
}

.title {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1%;
}

.statsContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.statsContainer > div {
    flex: 1 0 auto;
    margin: 1%;
    width: 2%;
}

.logo {
    background-image: url(./Rick_and_Morty/title.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.games-played, .attempts, .accuracy, .reset {
    border: 3px solid white;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1%;
}

.game-area {
    width: 100%;
    height: 64%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.card {
    width: 15%;
    position: relative;
    flex: 1 0 auto;
    margin: 7px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.back {
    background-image: url(./Rick_and_Morty/portal.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.newGameContainer {
    margin: auto;
}

.newGame {
    font-size: 3rem;
    text-align: center;
}

.newGameButton {
    border: 6px solid #63ee23;
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

/*------------------------------------ Media Queries --------------------------------------*/

@media screen
and (max-device-width: 767px)
and (max-device-height: 823px)
and (orientation: portrait) {
    header {
        height: 36%;
    }

    .title {
        font-size: 7rem;
    }

    .statsContainer > div {
        width: 22%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2.4rem;
    }

    .game-area {
        height: 64%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame, .newGameButton {
        font-size: 7rem;
    }
}

@media screen
and (max-device-width: 823px)
and (max-device-height: 414px)
and (orientation: landscape) {
    header {
        height: 46%;
    }

    .title {
        font-size: 4rem;
    }

    .statsContainer > div {
        width: 5%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 1.9rem;
    }

    .game-area {
        height: 54%;
    }
    
    .card {
        width: 15%;
    }

    .newGame, .newGameButton {
        font-size: 4rem;
    }
}

/* #### Tablets Portrait #### */
@media screen 
and (min-device-width: 768px)
and (min-device-height: 1024px)
and (orientation: portrait) {    
    header {
        height: 36%;
    }

    .title {
        font-size: 5rem;
    }

    .statsContainer > div {
        width: 22%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2.4rem;
    }

    .game-area {
        height: 64%;
    } 
    
    .card {
        width: 30%;
    }

    .newGame, .newGameButton {
        font-size: 5rem;
    }
}

/* #### Tablets Landscape #### */
@media only screen 
    and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape),
only screen 
    and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
    header {
        height: 60%;
    }

    .title {
        font-size: 5rem;
    }

    .statsContainer > div {
        width: 22%;
    }

    .games-played, .attempts, .accuracy, .reset {
        font-size: 2.4rem;
    }

    .game-area {
        height: 40%;
    }
    
    .card {
        width: 15%;
    }

    .newGame, .newGameButton {
        font-size: 4rem;
    }
}